.login-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 25px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background: #121212;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #7d00ae;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #b701ff;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}
